src/main/resources/wsdl/dev/AD_Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetADDisplayName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetADDisplayNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetADDisplayNameResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetADLogon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetADLogonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetADLogonResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetADDisplayNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetADDisplayName"/>
  </wsdl:message>
  <wsdl:message name="GetADDisplayNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetADDisplayNameResponse"/>
  </wsdl:message>
  <wsdl:message name="GetADLogonSoapIn">
    <wsdl:part name="parameters" element="tns:GetADLogon"/>
  </wsdl:message>
  <wsdl:message name="GetADLogonSoapOut">
    <wsdl:part name="parameters" element="tns:GetADLogonResponse"/>
  </wsdl:message>
  <wsdl:portType name="AD_ServiceSoap">
    <wsdl:operation name="GetADDisplayName">
      <wsdl:input message="tns:GetADDisplayNameSoapIn"/>
      <wsdl:output message="tns:GetADDisplayNameSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetADLogon">
      <wsdl:input message="tns:GetADLogonSoapIn"/>
      <wsdl:output message="tns:GetADLogonSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AD_ServiceSoap" type="tns:AD_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetADDisplayName">
      <soap:operation soapAction="http://tempuri.org/GetADDisplayName" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetADLogon">
      <soap:operation soapAction="http://tempuri.org/GetADLogon" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AD_ServiceSoap12" type="tns:AD_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetADDisplayName">
      <soap12:operation soapAction="http://tempuri.org/GetADDisplayName" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetADLogon">
      <soap12:operation soapAction="http://tempuri.org/GetADLogon" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AD_Service">
    <wsdl:port name="AD_ServiceSoap" binding="tns:AD_ServiceSoap">
      <soap:address location="http://10.1.8.229:8385/AD_Service.asmx"/>
    </wsdl:port>
    <wsdl:port name="AD_ServiceSoap12" binding="tns:AD_ServiceSoap12">
      <soap12:address location="http://10.1.8.229:8385/AD_Service.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>